# 7. 데이터 선택 (loc)
이름을 이용하여 원하는 row 에서 원하는 col 선택

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

,name,club,height,Language,English,Math,science,Society,SW
지원번호,,,,,,,,,
1번,kronii,council,168,10,85,10,20,75,Python
2번,botan,JP5,166,30,35,65,95,35,Java
3번,anya,ID2,147,60,50,45,45,20,Javascript
4번,mio,GM,160,90,30,35,90,90,NaN
5번,roboco,JP0,154,80,15,75,55,45,NaN
6번,Marine,JP3,150,65,80,55,75,95,C
7번,Baelz,council,149,85,70,80,60,100,PYTHON
8번,okayu,GM,152,35,10,95,85,55,C#

In [2]:
df.loc['1번'] # index 1번에 해당하는 전체 데이터

name         kronii
club        council
height          168
Language         10
English          85
Math             10
science          20
Society          75
SW           Python
Name: 1번, dtype: object

In [3]:
df.loc['5번'] # index 5번에 해당하는 전체 데이터

name        roboco
club           JP0
height         154
Language        80
English         15
Math            75
science         55
Society         45
SW             NaN
Name: 5번, dtype: object

In [6]:
df.loc['1번', 'Language'] # index 1번에 해당하는 국어 데이터

10

In [8]:
df.loc[['1번', '2번'], 'English'] # index 1번, 2번에 해당하는 영어 데이터

지원번호
1번    85
2번    35
Name: English, dtype: int64

In [9]:
# index 1번, 2번에 해당하는 영어, 수학데이터
df.loc[['1번', '2번'],['English', 'Math']]

      English  Math
지원번호
1번         85    10
2번         35    65

In [10]:
# index 1번부터 5번까지, 언어부터 사회까지 데이터
df.loc['1번':'5번','Language':'Society']

      Language  English  Math  science  Society
지원번호
1번          10       85    10       20       75
2번          30       35    65       95       35
3번          60       50    45       45       20
4번          90       30    35       90       90
5번          80       15    75       55       45