# 3. Collaborative Filtering (협업 필터링 : 사용자 리뷰 기반)

In [1]:
import surprise
surprise.__version__

'1.1.3'

In [2]:
import pandas as pd
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

In [3]:
ratings = pd.read_csv('ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
ratings['rating'].min()

0.5

In [6]:
ratings['rating'].max()

5.0

In [7]:
reader = Reader(rating_scale=(0.5, 5))

In [9]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader=reader)
data

In [10]:
svd = SVD(random_state=0)
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8984  0.8924  0.9044  0.8893  0.8972  0.8964  0.0052
MAE (testset)     0.6909  0.6865  0.6949  0.6878  0.6900  0.6900  0.0029
Fit time          0.96    0.99    1.02    1.04    0.98    1.00    0.03
Test time         0.10    0.10    0.11    0.11    0.18    0.12    0.03

{'test_rmse': array([0.89839964, 0.89244391, 0.9043585 , 0.8893181 , 0.89723256]),
 'test_mae': array([0.69094089, 0.68648266, 0.69494527, 0.6877751 , 0.6900034 ]),
 'fit_time': (0.9645559787750244,
  0.9880805015563965,
  1.0187852382659912,
  1.03574800491333,
  0.98492431640625),
 'test_time': (0.10254025459289551,
  0.1017158031463623,
  0.11261796951293945,
  0.10707497596740723,
  0.1750781536102295)}

교차 검증 (K-Fold 교차 검증)

100 개 데이터

A : 1 ~ 20  
B : 21 ~ 40  
C : 41 ~ 60  
D : 61 ~ 80  
E : 81 ~ 100  

ABCD (train set) E (test set)  
ABCE (train set) D (test set)  
ABDE (train set) C (test set)  
ACDE (train set) B (test set)  
BCDE (train set) A (test set)

In [11]:
trainset = data.build_full_trainset()
svd.fit(trainset)
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

유저아이디가 '1'인 사람이 302번 영화를 몇점 줄 지 예측

In [14]:
svd.predict(1, 302)

Prediction(uid=1, iid=302, r_ui=None, est=2.7142061734434044, details={'was_impossible': False})

UserId = 1번인 사람이 Movie Id = 1029 인 영화에 대해서 실제 평가 3점 일때, 예측평가점수?

In [15]:
svd.predict(1, 1029, 3)

Prediction(uid=1, iid=1029, r_ui=3, est=2.8814455446761933, details={'was_impossible': False})

In [17]:
ratings[ratings['userId'] == 100]

       userId  movieId  rating  timestamp
15273     100        1     4.0  854193977
15274     100        3     4.0  854194024
15275     100        6     3.0  854194023
15276     100        7     3.0  854194024
15277     100       25     4.0  854193977
15278     100       32     5.0  854193977
15279     100       52     3.0  854194056
15280     100       62     3.0  854193977
15281     100       86     3.0  854194208
15282     100       88     2.0  854194208
15283     100       95     3.0  854193977
15284     100      135     3.0  854194086
15285     100      141     3.0  854193977
15286     100      608     4.0  854194024
15287     100      648     3.0  854193977
15288     100      661     3.0  854194086
15289     100      708     3.0  854194056
15290     100      733     3.0  854194024
15291     100      736     3.0  854193977
15292     100      745     4.0  854194208
15293     100      780     3.0  854193977
15294     100      786     3.0  854194056
15295     100      802     4.0  854194111
15296     100     1073     5.0  854194056
15297     100     1356     4.0  854194086

In [18]:
svd.predict(100, 1029) # UserId = 100, Movie id = 1029

Prediction(uid=100, iid=1029, r_ui=None, est=3.7705476478414846, details={'was_impossible': False})